* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #9509511f;
  font-family: "Indie Flower", cursive;
}

.wrap {
  justify-content: center;
  align-items: center;
}

.text {
  display: inline-flex;
  margin: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  text-align: center;
  color: #d68fd6;
  font-size: 7vmin;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 3vmin;
}

.content {
  width: 100vw;
  height: 100vh;
}

.heart {
  width: 10vmin;
  height: auto;
  animation-name: upDown;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.heart-container {
  position: absolute;
  left: -50vmin;
  width: 10%;
  animation: translate 10s infinite linear;
}

#hc1 {
  top: 0vmin;
}
#hc1 .heart {
  animation-delay: 1s;
}

#hc3 {
  top: 0vmin;
  animation-delay: 0.5s;
}
#hc3 .heart {
  animation-delay: 1.5s;
}

#hc5 {
  top: 0vmin;
  animation-delay: 1.5s;
}

#hc2 {
  top: 20vmin;
  animation-delay: 2.5s;
}
#hc2 .heart {
  animation-delay: 1s;
}

#hc4 {
  top: 60vmin;
  animation-delay: 2s;
}
#hc4 .heart {
  animation-delay: 1s;
}

#hc6 {
  top: 40vmin;
  animation-delay: 3s;
}
#hc4 .heart {
  animation-delay: 1.5s;
}

#hc7 {
  top: 40vmin;
  animation-delay: 5s;
}
#hc2 .heart {
  animation-delay: 2s;
}

#hc8 {
  top: 40vmin;
  animation-delay: 4s;
}
#hc8 .heart {
  animation-delay: 2.5s;
}

#hc9 {
  top: 40vmin;
  animation-delay: 6s;
}
#hc9 .heart {
  animation-delay: 3s;
}

@keyframes upDown {
  to {
    transform: translatey(60vh);
  }
}
@keyframes translate {
  to {
    transform: translatex(150vw);
  }
}
